
<div class="body">
  <div class="text-center">
    <div class="h3 mb-3 fw-normal" >Login Here</div>
    <div class="form-signin">
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">

        <div [hidden]="!error">b
          {{error}}
        </div>
        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <div>
        <button  class="btn btn-primary" class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid" >Sign in</button>
        </div>
          <hr>
        <div>
          <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/signup" >registrase</button>
        </div>

        <small class=float-right>
          <a routerLink="/request-reset">Reset Password</a>
        </small>
      </form>
    </div>
  </div>
</div>

