<app-navbar></app-navbar>
<section class="container">
  <div class="d-flex justify-content-between">
    <h4>List </h4>
  </div>
<table class="color">
  <thead >
    <th>id</th>
    <th>NOMBRES</th>
    <th>EMAIL</th>
    <th width="220px">ACCIÓN</th>
  </thead>
  <tbody *ngFor="let d of listarUsuarios">
    <td>{{ d.id}}</td>
    <td>{{ d.name }}</td>
    <td>{{ d.email }}</td>
    <td>
      <ul class="listar">
        <li><fa-icon routerLink="/FormUsuarios/{{ d.id }}" class="btn btn-primary"  [icon]="faPenToSquare">Actualizar</fa-icon>  </li>
        <li> <fa-icon (click)="delete(d.id)" class="btn btn-danger" [icon]="faTrash" >Delete</fa-icon> </li>
      </ul>
    </td>
  </tbody>
</table>
<app-roleuser></app-roleuser>
</section>
