
<app-navbar></app-navbar>
<section class="container">
  <div class="d-flex justify-content-between">
    <h4>List </h4>
  </div>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <div>
          <ul class="listar">
            <li> <fa-icon routerLink="/formulario" class="btn btn-success" [icon]="faCirclePlus">Create </fa-icon> </li>
            <li> <fa-icon class="btn btn-success"  (click)="print()" [icon]="faPrint">IMPRIMIR </fa-icon></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </div>
    </div>
  </div>
  <br>

  <table class="color">
    <thead >
      <th >#</th>
      <th>FECHA INGRESO</th>
      <th>DOCUMENTO</th>
      <th>FOLIO</th>
      <th>PROCEDENCIA</th>
      <th>ASUNTO</th>
      <th>ENCARGADO</th>
      <th>PROVEIDO</th>
      <th>FOLIO</th>
      <th>FECHA ENTREGA</th>
      <th>CARGO</th>
      <th width="120px">ACCIÓN</th>
    </thead>
    <tbody *ngFor="let d of listarDatos">
      <td>{{ d.id }}</td>
      <td>{{ d.fecha }}</td>
      <td>{{ d.documento }}</td>
      <td>{{ d.folio_entrada }}</td>
      <td>{{ d.procedencia }}</td>
      <td>{{ d.asunto }}</td>
      <td>{{ d.encargado }}</td>
      <td>{{ d.proveido }}</td>
      <td>{{ d.folio_salida}}</td>
      <td>{{ d.fechaentrega}}</td>
      <td>{{ d.cargo }}</td>
      <td>
        <fa-icon href="#" routerLink="/formulario/{{ d.id }}" class="btn btn-primary"  [icon]="faPenToSquare">Edit</fa-icon>
      </td>
    </tbody>
  </table>
</section>
