
<app-navbar></app-navbar>
<section class="container">
  <div class="d-flex justify-content-between">
    <h4>List </h4>
    <a routerLink="/formulario" class="btn btn-success">Create </a>
  </div>

  <br>

  <table class="color">
    <thead >
      <th >#</th>
      <th>FECHA INGRESO</th>
      <th>DOCUMENTO</th>
      <th>FOLIO</th>
      <th>PROCEDENCIA</th>
      <th>ASUNTO</th>
      <th>ENCARGADO</th>
      <th>PROVEIDO</th>
      <th>FOLIO</th>
      <th>FECHA ENTREGA</th>
      <th>CARGO</th>
      <th width="220px">ACCIÓN</th>
    </thead>
    <tbody *ngFor="let d of list">
      <td>{{ d.id }}</td>
      <td>{{ d.fecha }}</td>
      <td>{{ d.documento }}</td>
      <td>{{ d.folio_entrada }}</td>
      <td>{{ d.procedencia }}</td>
      <td>{{ d.asunto }}</td>
      <td>{{ d.encargado }}</td>
      <td>{{ d.proveido }}</td>
      <td>{{ d.folio_salida}}</td>
      <td>{{ d.fechaentrega}}</td>
      <td>{{ d.cargo }}</td>
      <td>
        <a href="#" routerLink="/formulario/{{ d.id }}" class="btn btn-primary">Edit</a>
        <button type="button" (click)="delete(d.id)" class="btn btn-danger">Delete</button>
      </td>
    </tbody>
  </table>
</section>
