<p>index-gat works!</p>
<app-navbar></app-navbar>
<section class="container">
  <div class="d-flex justify-content-between">
    <h4>List </h4>
    <a routerLink="/FormGat" class="btn btn-success">Create </a>
  </div>

  <br>

  <table class="color">
    <thead >
      <th >#</th>
      <th>FECHA</th>
      <th>TELEFONO</th>
      <th>AREA</th>
      <th>PROBLEMA EQUIPO</th>
      <th>RESPOSABLE EQUIPO</th>
      <th>RESPOSABLE SOPORTE</th>
      <th>N° PATRIMONIAL</th>
      <th>FECHA ENTREGA</th>
      <th>SALIDA</th>
      <th width="220px">ACCIÓN</th>
    </thead>
    <tbody *ngFor="let d of list">
      <td>{{ d.id }}</td>
      <td>{{ d.fecha }}</td>
      <td>{{ d.phone }}</td>
      <td>{{ d.area }}</td>
      <td>{{ d.problema }}</td>
      <td>{{ d.responsablearea }}</td>
      <td>{{ d.responsablesoporte }}</td>
      <td>{{ d.codigopatrimonial }}</td>
      <td>{{ d.fechaentrega}}</td>
      <td>{{ d.salida }}</td>
      <td>
        <a href="#" routerLink="/FormGat/{{ d.id }}" class="btn btn-primary">Edit</a>
        <button type="button" (click)="delete(d.id)" class="btn btn-danger">Delete</button>
      </td>
    </tbody>
  </table>
</section>
