<app-navbar></app-navbar>
<section class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h4>REGISTRO DE SOPORTE MUNICIPIO</h4>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <div>
          <ul class="listar">
            <li> <fa-icon routerLink="/form" class="btn btn-success" [icon]="faCirclePlus">Create </fa-icon> </li>
            <li> <fa-icon class="btn btn-success"  (click)="print()" [icon]="faPrint">IMPRIMIR </fa-icon></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </div>
    </div>
  </div>

  <br>

  <table class="color">
    <thead >
      <th >#</th>
      <th>FECHA</th>
      <th>TELEFONO</th>
      <th>AREA</th>
      <th>PROBLEMA EQUIPO</th>
      <th>RESPOSABLE EQUIPO</th>
      <th>RESPOSABLE SOPORTE</th>
      <th>N° PATRIMONIAL</th>
      <th>FECHA ENTREGA</th>
      <th>SALIDA</th>
      <th width="120px">ACCIÓN</th>
    </thead>
    <tbody *ngFor="let d of list">
      <td>{{ d.id }}</td>
      <td>{{ d.fecha }}</td>
      <td>{{ d.phone }}</td>
      <td>{{ d.area }}</td>
      <td>{{ d.problema }}</td>
      <td>{{ d.responsablearea }}</td>
      <td>{{ d.responsablesoporte }}</td>
      <td>{{ d.codigopatrimonial }}</td>
      <td>{{ d.fechaentrega}}</td>
      <td>{{ d.salida }}</td>
      <td>
        <fa-icon routerLink="/form/{{ d.id }}" class="btn btn-primary"  [icon]="faPenToSquare"></fa-icon>
      </td>
    </tbody>
  </table>
      <div>
        <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
      </div>
  </section>
