
<app-navbar></app-navbar>
<header class="container">
  <div>
  <ul class="row g-3 py-5 row-cols-0 row-cols-lg-3" >
    <div class="nav-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">LIBRO AREA</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the</p>
          <button class="btn btn-primary" type="button" routerLink="/indexformulario">IR</button>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">LIBRO SOPORTE</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the</p>
          <button class="btn btn-primary" type="button" routerLink="/indexform">IR</button>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">PRACTICANTES</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the</p>
          <button class="btn btn-primary" type="button" routerLink="/IndexPracticantes">IR</button>
        </div>
      </div>
    </div>
    </ul>
</div>
<div>
  <ul class="row g-3 py-5 row-cols-0 row-cols-lg-3" >
    <div class="nav-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">USUARIOS</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-primary" type="button">Button</button>
        </div>
      </div>
    </div>
    </ul>
</div>
</header>

