body {
  padding-bottom: 20px;
}
.navbar-brand{
  transition: all 0.2s linear;
}
.navbar-brand:hover{
  transform: scale(0.80);
}
.btn{
  transition: all 0.2s linear;
}

.btn:hover{
  transform: scale(0.80);
}
